body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

canvas {
  display: block;
}

#touchControls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

#runButton {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #444;
  color: white;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
